* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
body {
    background-image: url(forest_wildflower_clearing-full.jpg);
}
.head {
     background-color: #5498ba; 
    padding: 17px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .head1 {
    font-size: 30px;
    color: #060303;
    text-transform: capitalize;
}

.head ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 0px;
}

.head ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    transition: 0.3s ease;
    margin: 0 0;
}

.head ul li a:hover {
    color: #1a3340;
}

.sec {
    height: 100vh;
    background-image: url(forest_wildflower_clearing-full.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.sec .head2 {
    font-size: 53px;
    text-transform: capitalize;
}

.para .para1 {
    font-size: 18px;
    margin: 20px 0px;
}

.btn2 {
    display: inline-block;
    padding: 12px 28px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3 ease;

}

.btn2:hover {
    background-color: #fff;
    color: #1a3340;
}


.container {
    width: 40%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    background-color:transparent;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    backdrop-filter: blur(10px);
}
.container .hd2{
    font-size: 50px;
    font-weight: bold;
    border-bottom:5px solid #000000;
    margin-top: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
form .para8 {
    display: block;
    margin: 20px 0;
    width: 100%;
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom:1px solid black ;
    font-size: 24px;
    color: #000000;
    background-color: transparent;
}
form input::placeholder{
          color: #000000;
}
form button{
      width: 100%;
      padding: 16px;
      border: none;
      border-radius:8px ;
      font-size:24px ;
      font-weight: bold;
      cursor: pointer;
      background-color: #2B7FFF;
      margin:auto;
}
.btn1 {
    width: 100%;
      margin-top: 10px;
      padding:140px;
      border: none;
      border-radius:8px ;
      font-size:18px ;
      cursor: pointer;
}
.para0 {
      display: inline-block;
      margin-right:0px;
      margin-left: 20px;
      border: none;
      border-radius:8px ;
      font-size:20px ;
      cursor: pointer;
       border: 1px solid #000000;
}
.para7 {
      display: inline-block;
      padding:10px;
      border-radius:24px ;
      font-size:18px ;
      cursor: pointer;
      margin-left: 0px;
}
.btn3 {
    display:block;
    width: 100%;
    padding: 12px 28px;
    background-color: #5498ba;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3 ease;
      text-align: center;
}

.btn2:hover {
    background-color: #fff;
    color: #1a3340;
}

form .para6 {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 10px;
    border-bottom:1px solid black ;
    font-size: 18px;
    color: #000000;
    background-color: transparent;
}
form input::placeholder{
          color: #000000;
}
form button{
      width: 100%;
      padding: 16px;
      border: none;
      border-radius:8px ;
      font-size:24px ;
      font-weight: bold;
      cursor: pointer;
      background-color: #2B7FFF;
      margin:auto;
}
.container1 {
    width: 40%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color:transparent;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    backdrop-filter: blur(10px);
}
.hd4 {
    font-size: 24px;
    font-weight: bold;
    border-bottom:2px solid #000000;
    margin-top: 1px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
